# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configuration
.env
.env.prod

# IDEs
.idea/
.vscode